/*-- scss:defaults --*/
/*-- using abcd_bs_theme --*/

@import url(https://fonts.googleapis.com/css?family=Inter:400italic,700italic,400,700);
@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro:400italic,700italic,400,700);

$font-family-sans-serif: "Inter";
$font-family-monospace: "Source Code Pro";


$primary: #62272D;
$secondary: #FDBF6F;
$success: #33A02C;
$info: #DEEBF7;
$warning: #FF7F00;
$danger: #E31A1C;

code {
  font-size: 0.9rem  !important;
}


.navbar {
  height: 72px !important;
  position: relative;
  background-color: $primary !important;
}

.navbar-logo {
  max-height: 40px !important;
}

.navbar-collapse {
  background-color: $primary !important;
}

.menu-text {
  font-size: 1.1rem;
  font-weight: 500;
}

div.quarto-about-trestles {
  padding-top: 0.15em !important;
  padding-bottom: 0.15em !important;

  .about-entity {
    // Always set max-width for fallback
    max-width: 33% !important;
    flex: 0 0 33% !important;

    @media (max-width: 991.98px) {
      max-width: 100% !important;
      flex: 1 1 100% !important;
    }
  }
}

.about-link {
  background-color: none; // Choose any solid color you like
  color: $primary;
  border: none !important;
  // border-radius: 0.5em;
  // padding: 0.5em 0.5em;
  text-decoration: bold;

  &:hover, &:focus {
    background-color: $secondary; // Optional: darker shade on hover/focus
    color: black;
  }
}

.about-links {
  display: flex;
  flex-direction: row;
  justify-content: center; // center align horizontally
  align-items: center;      // center align vertically if needed
  gap: 0.25em !important;   // space between links
  flex-wrap: wrap;          // allow wrapping if needed
}


// Listings
@media (max-width: 900px) {
  .quarto-grid-item.card.h-100.card-left p.card-img-top {
    display: none !important;
  }
}
